

<div class= "container">
    <div class ="row">
    <div class ="col-sm-12">
        <p class="bg-info text-white">Hi Mr.<h2><%= @user.name %></h2></p>
    </div>
    <div class ="col-sm-12">
        <p class="bg-info text-white">EMail: <p><%= @user.email %></p></p>
    </div>
    </div>
</div>