<section class="home"> 
    <h1>Sign in</h1>
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email , autofocus: true, autocomplete: "email" %>

        <%= f.submit "Sign in" %>
    <% end %>
</section> 